<!doctype html>
<html ng-app="todo">
  <head>
    <meta charset="utf-8">
    <title>Todo</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="dist/css/ionic.css">

    <script src="dist/js/ionic.js"></script>
    <script src="dist/js/angular/angular.js"></script>
    <script src="dist/js/angular/angular-animate.js"></script>
    <script src="dist/js/angular/angular-route.js"></script>
    <script src="dist/js/angular/angular-touch.js"></script>
    <script src="dist/js/angular/angular-sanitize.js"></script>
    <script src="dist/js/ionic-angular.js"></script>
    <script src="dist/js/app.js"></script>

    <!-- cordova script -->
    <script src="cordova.js"></script>
  </head>
  <body>
    <side-menus>
      <pane side-menu-content ng-app="todo" ng-controller="TodoCtrl" has-header="true">
        <header class="bar bar-header bar-light">
          <button class="button button-icon" ng-click="toggleMenu()">
            <i class="icon ion-navicon-round"></i>
          </button>
        </header>
        <br><br>
        <ul class="list">
          <li class="item item-checkbox" ng-repeat="task in tasks">
            <label class="checkbox">
              <input type="checkbox" ng-model="task.complete">
            </label>
              {{task.title}}
          </li>
        </ul>
      </pane>
      <side-menu side="left">
        <ul class="list">
          <li class="item item-checkbox" ng-repeat="task in tasks">
              {{task.title}}
          </li>
        </ul>
      </side-menu>
    </side-menus>
    <footer class="bar bar-footer">
      <div class="title">Footer</div>
    </footer>
  </body>
</html>