<!doctype html>
<html ng-app="todo">
  <head>
    <meta charset="utf-8">
    <title>Todo</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="dist/css/ionic.css">

    <script src="dist/js/ionic.js"></script>
    <script src="dist/js/angular/angular.js"></script>
    <script src="dist/js/angular/angular-animate.js"></script>
    <script src="dist/js/angular/angular-route.js"></script>
    <script src="dist/js/angular/angular-touch.js"></script>
    <script src="dist/js/angular/angular-sanitize.js"></script>
    <script src="dist/js/ionic-angular.js"></script>
    <script src="dist/js/app.js"></script>

    <!-- cordova script -->
    <script src="js/cordova.js"></script>
  </head>
  <body ng-app="todo">
    <side-menus>
      <pane side-menu-content ng-controller="TodoCtrl" has-header="true">
        <content>
        <header class="bar bar-header bar-light">
          <button class="button button-icon" ng-click="toggleMenu()">
            <i class="icon ion-navicon-round"></i>
          </button>
          <h1 class="title">Todo</h1>
        </header>
        <br><br>
        <ul class="list">
          <li class="item item-checkbox" ng-repeat="task in tasks">
            <label class="checkbox">
              <input type="checkbox" ng-model="task.complete">
            </label>
              {{task.title}}
          </li>
        </ul>
        </content>
      </pane>
      <side-menu side="left">
        <header class="bar bar-header bar-stable">
          <h1 class="title">Projects</h1>
          <button class="button button-icon">
            <i class="icon ion-plus"></i>
          </button>
        </header>
        <content has-header="true" scroll="false">
          <list>
            <item ng-repeat="project in projects" ng-class="{active: activeProject == project}">
              {{project.title}}
            </item>
          </list>
        </content>
      </side-menu>
    </side-menus>
  </body>
</html>